<div class="wrapper">
    <div class="logo">
        <img src="/img/alumnos.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Sistema Calificaciones
    </div>
    <%- include('templates/librariesCSS.html') %>

    <form class="p-3 mt-3" action="/auth/iniciarD" method="post">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="tfUsuario" id="userName" placeholder="Nombre">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="tfPassword" id="pwd" placeholder="Contraseña">
        </div>
        <button type="submit" class="btn mt-3">Iniciar Sesion</button>
    </form>
    
</div>
<%- include('templates/librariesJS.html') %>
